@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F0CDAB;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFFEFE;
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

#logo_arvore {
    width: 75px; 
    margin-right: 10px;
}

#PJT {
    font-size: 30px; 
    margin-bottom: 5px;
}

#VAT {
    font-size:15px; 
    color: #666; 
    padding-left:20px;
}

.nav-list ul {
    font-size: 19px;
    list-style: none;
    display: inline-flex;
}

.nav-item {
    margin-right:50px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.doe-agora .nav-link{
    background-color: #62724F; 
    color: white;
    padding: 8px 16px;
    border-radius: 100px;
}

.doe-agora .nav-link:hover{
    color: black;
}

.nav-item a:hover {
    color: #3c630e91;
}

#user-icon .fas {
    font-size: 30px;
    background-color: #EFD7C1; 
    padding: 15px; 
    border-radius: 100%; 
}

.carousel img {
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}


.search-bar {
    padding: 20px;
    text-align: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #62724F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #3c630e91;
}


.small-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
    border-radius:50px;
}

.small-images img {
    width: 200x;
    height: 200px;
    object-fit: cover;
    border-radius:10px;
    margin: 0 50px;

}

footer {
    background-color:#62724F;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
}
