header {
  background-color: #fff;
  padding: 20px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoarvore {
  display: flex;
  align-items: center;
}

.logoarvore img {
  width: 110px;
  margin-right: 10px;
}

.logoarvore div {
  display: flex;
  flex-direction: column;
}

.header-logopequena img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 16px;
}

#ProjetoVAT {
  font-size: 30px;
  margin-bottom: 5px;
}

#VAT {
  font-size: 15px;
  color: #000;
}

.nav-list ul {
  font-size: 19px;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 26px;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.user-info {
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.user-info:hover .dropdown-content {
  display: block;
} 
