* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0CDAB;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoarvore {
    display: flex;
    align-items: center;
}

.logoarvore img {
    width: 110px;
    margin-right: 10px;
}

.logoarvore div {
    display: flex;
    flex-direction: column;
}

#ProjetoVAT {
    font-size: 30px;
    margin-bottom: 5px;
}

#VAT {
    font-size: 15px;
    color: #000;
    margin-top: 0;
}

.nav-list ul {
    font-size: 19px;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 26px;
}

.nav-link {
    text-decoration: none;
    color: #000;
}

.user-info {
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.doe-agora {
    margin-right: 30px;
}

.doe-agora .nav-link {
    background-color: #62724f;
    color: #fff;
    padding: 8px 16px;
    border-radius: 100px;
}

.doe-agora .nav-link:hover {
    color: #000;
}

.nav-item a:hover {
    color: #de8b3d;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.titulo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #de8b3d;
    border-radius: 4px;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 10%;
    max-height: 15vh;
    width: 75%;
    height: 8vh;
}

.titulo h2 {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #f9e9db;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 75%;
    margin-left: 15%;
    margin-right: 10%;
    height: 90%;
    margin-bottom: 2%;
    justify-content: center;
}

label {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

input {
    font-size: 18px;
}

#CNPJ {
    width: 30%;
    height: 30px;
    margin-top: 4%;
    margin-bottom: 10px;
}

#Email {
    width: 50%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#RazãoSocial {
    width: 50%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#DtCriação {
    width: 16%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#NomeFantasia {
    width: 27%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Gênero {
    width: 15%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#TelCelular {
    width: 15%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#TelFixo {
    width: 17%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#InscMunicipal {
    width: 25%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Senha {
    width: 18%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#CPF {
    width: 30%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#nameRSP {
    width: 42%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-button {
    font;
    color: white;
    background-color: #de8b3d;
    padding: 10px 10px;
    border: none;
    border-radius: 40px;
    float: right;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 25px;
}

.form-button:hover {
    background-color: #f1b983;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.obs {
    font-size: 12px;
    margin-left: 8px;
    float: left;
    margin-bottom: 10px;
}



#doeagora:hover {
    background-color: #9ec5a3e0;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.checkbox {
    margin-top: 15px;
    margin-bottom: 15px;
}


@media (max-width: 768px) {
    .testimonial-grid {
        grid-template-columns: 1fr;
    }
}

footer {
    background-color: #62724f;
    background: linear-gradient(#8d9d79, #687854, #62724f);
    padding: 16px;
    margin-top: 66px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

.footer-content p {
    margin: 0 0 20px 0;
}

.social-icons {
    display: flex;
    gap: 16px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}